@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow-left:before {
  content: "\e900";
}

._icon-arrow-right:before {
  content: "\e901";
}

._icon-clock:before {
  content: "\e902";
}

._icon-life:before {
  content: "\e903";
}

._icon-maill:before {
  content: "\e904";
}

._icon-phone:before {
  content: "\e905";
}

._icon-poisk:before {
  content: "\e906";
}

._icon-tel:before {
  content: "\e907";
}

._icon-vodafon:before {
  content: "\e908";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #312A2A;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 77.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 0.9375rem;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  padding-top: 0.875rem;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  letter-spacing: 0.7826086957em;
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  display: none;
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header-body__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-body__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  border-bottom: 0.0625rem solid #EAEAEA;
}

.header-body__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  z-index: 7;
}

.header-body__logo span {
  font-weight: 500;
  line-height: 1.5263157895;
  color: #0088CC;
  position: absolute;
}

.body-header {
  padding-top: 2.9375rem;
}

.moby-body__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: 0.0625rem solid #EAEAEA;
}

.moby-body__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1.5625rem 2.5rem 0;
}

.moby-body__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.moby-body__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 1.125rem;
}

.moby-body__link span {
  color: #0088CC;
  font-weight: 700;
}

.moby-body__link-active {
  padding-bottom: 1.25rem;
}

.moby-body__wrap {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0.75rem;
}

.moby-body__blue {
  border: 1px solid #0088CC;
  background-color: #0088CC;
  color: #fff;
}

.moby-body__blue::before {
  font-size: 0.6875rem;
}

.moby-body__rad {
  border: 1px solid #E60000;
  background-color: #E60000;
  color: #fff;
}

.moby-body__yellow {
  border: 1px solid #FCCF00;
  background-color: #FCCF00;
  font-size: 1.25rem;
  color: #143354;
}

.moby-body__border {
  border-bottom: 0.125rem solid #EAEAEA;
}

.menu-top-header {
  padding-top: 1.625rem;
  padding-bottom: 1.625rem;
}

.menu-top-header__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu-top-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 0.9375rem;
}

.menu-top-header__link {
  font-weight: 500;
  line-height: 1.3333333333;
  text-transform: uppercase;
}

.phones-header__items {
  position: absolute;
  display: none;
}

.phones-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.phones-header__arrow {
  color: #0088CC;
  font-size: 0.875rem;
  margin: 0 0 0 1.875rem;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.phones-header__arrow._spoller-active {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.phones-header__list {
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: 1.25rem;
  z-index: 5;
  background: #fff;
  border: 0.0625rem solid #0088CC;
  border-radius: 0.5rem;
  padding: 1.0625rem;
}

.phones-header__list li:not(:last-child) {
  margin-bottom: 1.875rem;
}

.menu-block__items {
  position: absolute;
  border: 0.0625rem solid #0088CC;
  background-color: #0088CC;
  border-radius: 0.5rem;
  padding: 0.9375rem;
  margin-top: 2.1875rem;
  display: none;
}

.menu-block__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.menu-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 0.0625rem solid #fff;
}

.menu-block__item:last-child {
  border-bottom: none;
}

.menu-block__sub {
  padding: 0.9375rem 0;
}

.menu-block__arrow {
  color: #fff;
  font-size: 0.875rem;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 1.875rem;
  height: 1.875rem;
}

.menu-block__arrow._spoller-active {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.menu-block__list {
  position: absolute;
  top: 1.875rem;
  width: 100%;
  margin-top: 1.25rem;
  z-index: 1;
  background: #0088CC;
  border: 0.0625rem solid #0088CC;
  border-radius: 0.5rem;
  padding: 1.0625rem;
}

.menu-block__list li:not(:last-child) {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.menu-block__link {
  color: #fff;
  line-height: 1.25;
}

.menu-block__active {
  color: #fff;
  font-size: 1.125rem;
}

.footer {
  background-color: #0088CC;
  color: #fff;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.item-footer__body {
  width: 7.8125rem;
}

.item-footer__title {
  font-weight: 700;
  font-size: 1.375rem;
  border-bottom: 0.0625rem solid #fff;
  padding-bottom: 1.25rem;
}

.item-footer__menu {
  padding-top: 1.25rem;
}

.item-footer__wrap {
  max-width: 37.5rem;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

.item-footer__item {
  padding: 0.625rem 0;
}

.item-footer__link {
  font-weight: 400;
  line-height: 1.1666666667;
}

.tel-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem 0;
}

.tel-footer__link {
  width: 10rem;
}

.moby-body__content {
  padding-right: 1.25rem;
}

.moby-body__white {
  background-color: #fff;
  color: #0088CC;
}

.info-footer__item {
  padding-top: 1.25rem;
}

.info-footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-footer__content {
  padding: 0.625rem 1.25rem 0rem 0rem;
}

.info-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem 0;
  line-height: 1.1111111111;
}

.info-footer__left {
  padding-left: 2.5rem;
}

.footer-text {
  background-color: #fff;
}

.text-footer {
  padding: 1.5625rem 0;
}

.text-footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-footer__title {
  color: #312A2A;
  line-height: 1.2;
}

.main-block {
  padding-top: 1.6875rem;
}

.main-block__body {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  border-bottom: 0.0625rem solid #b0afaf;
}

.main-block__wrap {
  border-top: 0.0625rem Solid #b0afaf;
  padding-top: 1.9375rem;
}

.main-block__tovary {
  border-bottom: 0.0625rem Solid #b0afaf;
  padding-bottom: 2.0625rem;
}

.main-block__tovary:last-child {
  border-bottom: none;
}

.main-block__menu {
  background-color: #0088CC;
  border-radius: 0.5rem;
}

.main-block__search2 {
  display: none;
}

.main-block__header {
  position: relative;
}

.main-block__button {
  position: absolute;
  width: 7.8125rem;
  height: 4.1875rem;
  border: 0.0625rem solid #0088CC;
  border-radius: 0.5rem;
  background-color: #0088CC;
  color: #fff;
  font-size: 1.25rem;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-block__input {
  width: 84%;
  border-radius: 0.5rem;
  height: 4.1875rem;
  border: 0.0625rem solid #b0afaf;
  padding: 1.5rem 5.625rem 1.5rem 2rem;
}

.main-block__input::-webkit-input-placeholder {
  color: #B0AFAF;
  font-weight: 500;
}

.main-block__input::-moz-placeholder {
  color: #B0AFAF;
  font-weight: 500;
}

.main-block__input:-ms-input-placeholder {
  color: #B0AFAF;
  font-weight: 500;
}

.main-block__input::-ms-input-placeholder {
  color: #B0AFAF;
  font-weight: 500;
}

.main-block__input::placeholder {
  color: #B0AFAF;
  font-weight: 500;
}

.menu-main-block {
  margin-bottom: 2.75rem;
}

.menu-main-block__item {
  padding-bottom: 1.125rem;
}

.menu-main-block__item:last-child {
  padding-bottom: 0;
}

.menu-main-block__link {
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.1818181818;
  color: #fff;
}

.tovary-main-block__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.8125rem;
}

.tovary-main-block__img {
  padding-right: 1.5rem;
}

.tovary-main-block__text {
  font-weight: 400;
  line-height: 1.1666666667;
}

.tovary-main-block__price {
  font-weight: 700;
  padding-top: 0.875rem;
  font-size: 0.75rem;
}

.tovary-main-block__price span {
  font-size: 0.625rem;
  color: #8D8D8D;
  padding-left: 0.3125rem;
  text-decoration: line-through;
}

.title {
  font-weight: 700;
  line-height: 1.3;
  color: #0088CC;
  padding-bottom: 0.75rem;
}

.images-product {
  padding-top: 1.375rem;
  position: relative;
  max-width: 55.875rem;
}

.slide-product-images__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
}

.slide-product-images__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-product-images__img {
  position: relative;
  width: 100%;
}

.slide-product-images__img img {
  width: 100%;
}

.slide-product-images__content {
  position: absolute;
  top: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-product-images__title {
  border: 0.0625rem solid #fff;
  background-color: #fff;
  text-transform: uppercase;
  opacity: 80%;
  margin-bottom: 0.75rem;
}

.slide-product-images__sub-title {
  color: #fff;
  border: 0.0625rem solid #0088CC;
  background-color: #0088CC;
  opacity: 90%;
  letter-spacing: 2px;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 43%;
  gap: 0.625rem;
}

.swiper-pagination span {
  width: 0.625rem;
  height: 0.625rem;
  background-color: #fff;
  border-radius: 50%;
}

span.swiper-pagination-bullet-active {
  background-color: #0088CC;
}

.sw-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 52%;
  font-size: 1.3125rem;
  color: #fff;
  cursor: pointer;
}

.btn-next {
  position: absolute;
  left: 2.25rem;
}

.btn-prew {
  position: absolute;
  right: 2.25rem;
}

.block-slider__wrap {
  position: relative;
  padding: 3.125rem 0;
  border-bottom: 0.0625rem solid #b0afaf;
}

.block-slider__img {
  border: 0.0625rem solid #b0afaf;
  border-radius: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0.9375rem;
}

.sm-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  cursor: pointer;
  top: 4.375rem;
  border: 0.0625rem solid #0088CC;
  background-color: #0088CC;
  border-radius: 0.75rem;
}

.sale-next {
  position: absolute;
  left: 0;
}

.sale-prew {
  position: absolute;
  right: 0;
}

.remont-block {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.75rem, 1fr));
  gap: 1.3125rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.8125rem 0;
  border-bottom: 1px solid #b0afaf;
}

.remont-block__item {
  display: -ms-inline-grid;
  display: inline-grid;
  min-height: 13.4375rem;
  gap: 1rem;
  text-align: center;
  border: 0.0625rem solid #b0afaf;
  border-radius: 1rem;
}

.remont-block__icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.remont-block__text {
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.5;
  text-transform: uppercase;
  padding: 0 0.9375rem;
}

.magazin-block__wrap {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13.25rem, 1fr));
  gap: 0.9375rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.875rem;
}

.magazin-block__title {
  padding-top: 1.875rem;
}

.magazin-block__item {
  display: -ms-inline-grid;
  display: inline-grid;
  min-height: 10.75rem;
  text-align: center;
  border: 0.0625rem solid #b0afaf;
  border-radius: 1rem;
}

.magazin-block__icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.magazin-block__text {
  font-weight: 500;
  line-height: 1.5;
  padding: 0 0.9375rem;
}

.text-block p {
  line-height: 1.3888888889;
  padding-bottom: 1.25rem;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .main-block__body {
    -ms-grid-columns: 1fr 68.5483870968%;
    grid-template-columns: 1fr 68.5483870968%;
  }
}

@media (min-width: 77.5em) {
  .header-body__logo span {
    font-size: 1.5625rem;
  }

  .moby-body__list {
    gap: 3.25rem;
  }

  .item-footer__link {
    font-size: 0.875rem;
  }

  .main-block__body {
    gap: 1.5rem;
  }

  .main-block__menu {
    padding: 1.5rem;
  }

  .slide-product-images__content {
    left: 4.375rem;
  }

  .slide-product-images__title {
    font-size: 2.125rem;
  }

  .slide-product-images__title {
    letter-spacing: 0.625rem;
  }

  .slide-product-images__title {
    padding-top: 1.8125rem;
  }

  .slide-product-images__title {
    padding-right: 2.6875rem;
  }

  .slide-product-images__title {
    padding-bottom: 1.8125rem;
  }

  .slide-product-images__title {
    padding-left: 2.6875rem;
  }

  .slide-product-images__sub-title {
    padding-top: 1rem;
  }

  .slide-product-images__sub-title {
    padding-right: 1.75rem;
  }

  .slide-product-images__sub-title {
    padding-bottom: 1rem;
  }

  .slide-product-images__sub-title {
    padding-left: 1.25rem;
  }
}

@media (min-width: 79.375em) {
  .header-body {
    padding-top: 2.375rem;
  }

  .header-body__logo {
    width: 7.9375rem;
  }

  .header-body__logo {
    height: 9.3125rem;
  }

  .header-body__logo {
    margin-right: 1.5625rem;
  }

  .header-body__logo span {
    margin-left: 9.375rem;
  }

  .header-body__logo span {
    top: 2.9375rem;
  }

  .footer__body {
    padding-top: 4.6875rem;
  }

  .footer__body {
    padding-bottom: 6.25rem;
  }

  .main-block__body {
    padding-bottom: 5rem;
  }

  .title {
    font-size: 1.375rem;
  }

  .slide-product-images__sub-title {
    font-size: 1.25rem;
  }

  .swiper-pagination {
    bottom: 3.75rem;
  }

  .block-slider .swiper {
    margin-left: 5.625rem;
  }

  .block-slider .swiper {
    margin-right: 5.625rem;
  }

  .block-slider__img {
    min-height: 7.25rem;
  }

  .sm-btn {
    width: 4rem;
  }

  .sm-btn {
    height: 4rem;
  }

  .sm-btn {
    font-size: 1.3125rem;
  }

  .text-block {
    padding-top: 4.375rem;
  }

  .text-block {
    padding-bottom: 5rem;
  }

  .text-block__body {
    padding-bottom: 2.5rem;
  }
}

@media (min-width: 48em) {
  .phones-header__items {
    top: 1.25rem;
  }
}

@media (max-width: 62em) {
  .header-body__logo span {
    font-size: 1.25rem;
  }
}

@media (max-width: 20em) {
  .header-body {
    padding-top: 1.25rem;
  }

  .header-body__logo {
    width: 2.5rem;
  }

  .header-body__logo {
    height: 3.75rem;
  }

  .header-body__logo {
    margin-right: 1.1875rem;
  }

  .header-body__logo span {
    margin-left: 4.375rem;
  }

  .header-body__logo span {
    top: 2.1875rem;
  }

  .footer__body {
    padding-top: 2.5rem;
  }

  .footer__body {
    padding-bottom: 3.125rem;
  }

  .main-block__body {
    padding-bottom: 1.875rem;
  }

  .title {
    font-size: 1.125rem;
  }

  .slide-product-images__sub-title {
    font-size: 1.0625rem;
  }

  .swiper-pagination {
    bottom: 0.9375rem;
  }

  .block-slider .swiper {
    margin-left: 3.75rem;
  }

  .block-slider .swiper {
    margin-right: 3.75rem;
  }

  .block-slider__img {
    min-height: 6.125rem;
  }

  .sm-btn {
    width: 3.125rem;
  }

  .sm-btn {
    height: 3.125rem;
  }

  .sm-btn {
    font-size: 1.125rem;
  }

  .text-block {
    padding-top: 1.875rem;
  }

  .text-block {
    padding-bottom: 1.875rem;
  }

  .text-block__body {
    padding-bottom: 1.5625rem;
  }
}

@media (max-width: 61.99875em) {
  .header-body__content {
    border-bottom: none;
  }

  .moby-body__tel {
    display: none;
  }

  .menu-top-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 5rem;
    left: -100%;
    overflow: auto;
    background-color: #fff;
    padding: 1.25rem 1.875rem;
    z-index: 4;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 3.125rem;
            flex: 0 0 3.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0.5rem;
  }

  .phones-header__items {
    display: block;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #0088CC;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 47.99875em) {
  .menu-block__items {
    display: block;
  }

  .footer__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .body-footer__row {
    display: none;
  }

  .text-footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .main-block__lion {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    top: 1.25rem;
    position: relative;
  }

  .main-block__wrap {
    border-top: none;
  }

  .main-block__search {
    display: none;
  }

  .main-block__search2 {
    display: block;
    padding-top: 7.5rem;
  }

  .main-block__input {
    width: 100%;
    padding-left: 1.125rem;
  }

  .menu-main-block {
    display: none;
  }

  .images-product {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .menu-block__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 20em) and (max-width: 79.375em) {
@supports (padding-top: clamp( 1.25rem , 0.8710526316rem  +  1.8947368421vw , 2.375rem )) {
    .header-body {
      padding-top: clamp( 1.25rem , 0.8710526316rem  +  1.8947368421vw , 2.375rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.8710526316rem  +  1.8947368421vw , 2.375rem )) {
    .header-body {
      padding-top: calc(1.25rem + 1.125 * (100vw - 20rem) / 59.375);
    }
}

@supports (width: clamp( 2.5rem , 0.6684210526rem  +  9.1578947368vw , 7.9375rem )) {
    .header-body__logo {
      width: clamp( 2.5rem , 0.6684210526rem  +  9.1578947368vw , 7.9375rem );
    }
}

@supports not (width: clamp( 2.5rem , 0.6684210526rem  +  9.1578947368vw , 7.9375rem )) {
    .header-body__logo {
      width: calc(2.5rem + 5.4375 * (100vw - 20rem) / 59.375);
    }
}

@supports (height: clamp( 3.75rem , 1.8763157895rem  +  9.3684210526vw , 9.3125rem )) {
    .header-body__logo {
      height: clamp( 3.75rem , 1.8763157895rem  +  9.3684210526vw , 9.3125rem );
    }
}

@supports not (height: clamp( 3.75rem , 1.8763157895rem  +  9.3684210526vw , 9.3125rem )) {
    .header-body__logo {
      height: calc(3.75rem + 5.5625 * (100vw - 20rem) / 59.375);
    }
}

@supports (margin-right: clamp( 1.1875rem , 1.0611842105rem  +  0.6315789474vw , 1.5625rem )) {
    .header-body__logo {
      margin-right: clamp( 1.1875rem , 1.0611842105rem  +  0.6315789474vw , 1.5625rem );
    }
}

@supports not (margin-right: clamp( 1.1875rem , 1.0611842105rem  +  0.6315789474vw , 1.5625rem )) {
    .header-body__logo {
      margin-right: calc(1.1875rem + 0.375 * (100vw - 20rem) / 59.375);
    }
}

@supports (margin-left: clamp( 4.375rem , 2.6907894737rem  +  8.4210526316vw , 9.375rem )) {
    .header-body__logo span {
      margin-left: clamp( 4.375rem , 2.6907894737rem  +  8.4210526316vw , 9.375rem );
    }
}

@supports not (margin-left: clamp( 4.375rem , 2.6907894737rem  +  8.4210526316vw , 9.375rem )) {
    .header-body__logo span {
      margin-left: calc(4.375rem + 5 * (100vw - 20rem) / 59.375);
    }
}

@supports (top: clamp( 2.1875rem , 1.9348684211rem  +  1.2631578947vw , 2.9375rem )) {
    .header-body__logo span {
      top: clamp( 2.1875rem , 1.9348684211rem  +  1.2631578947vw , 2.9375rem );
    }
}

@supports not (top: clamp( 2.1875rem , 1.9348684211rem  +  1.2631578947vw , 2.9375rem )) {
    .header-body__logo span {
      top: calc(2.1875rem + 0.75 * (100vw - 20rem) / 59.375);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.7631578947rem  +  3.6842105263vw , 4.6875rem )) {
    .footer__body {
      padding-top: clamp( 2.5rem , 1.7631578947rem  +  3.6842105263vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.7631578947rem  +  3.6842105263vw , 4.6875rem )) {
    .footer__body {
      padding-top: calc(2.5rem + 2.1875 * (100vw - 20rem) / 59.375);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.0723684211rem  +  5.2631578947vw , 6.25rem )) {
    .footer__body {
      padding-bottom: clamp( 3.125rem , 2.0723684211rem  +  5.2631578947vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.0723684211rem  +  5.2631578947vw , 6.25rem )) {
    .footer__body {
      padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 59.375);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 5rem )) {
    .main-block__body {
      padding-bottom: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 5rem )) {
    .main-block__body {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 59.375);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0407894737rem  +  0.4210526316vw , 1.375rem )) {
    .title {
      font-size: clamp( 1.125rem , 1.0407894737rem  +  0.4210526316vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0407894737rem  +  0.4210526316vw , 1.375rem )) {
    .title {
      font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 59.375);
    }
}

@supports (font-size: clamp( 1.0625rem , 0.9993421053rem  +  0.3157894737vw , 1.25rem )) {
    .slide-product-images__sub-title {
      font-size: clamp( 1.0625rem , 0.9993421053rem  +  0.3157894737vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.0625rem , 0.9993421053rem  +  0.3157894737vw , 1.25rem )) {
    .slide-product-images__sub-title {
      font-size: calc(1.0625rem + 0.1875 * (100vw - 20rem) / 59.375);
    }
}

@supports (bottom: clamp( 0.9375rem , -0.0098684211rem  +  4.7368421053vw , 3.75rem )) {
    .swiper-pagination {
      bottom: clamp( 0.9375rem , -0.0098684211rem  +  4.7368421053vw , 3.75rem );
    }
}

@supports not (bottom: clamp( 0.9375rem , -0.0098684211rem  +  4.7368421053vw , 3.75rem )) {
    .swiper-pagination {
      bottom: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 59.375);
    }
}

@supports (margin-left: clamp( 3.75rem , 3.1184210526rem  +  3.1578947368vw , 5.625rem )) {
    .block-slider .swiper {
      margin-left: clamp( 3.75rem , 3.1184210526rem  +  3.1578947368vw , 5.625rem );
    }
}

@supports not (margin-left: clamp( 3.75rem , 3.1184210526rem  +  3.1578947368vw , 5.625rem )) {
    .block-slider .swiper {
      margin-left: calc(3.75rem + 1.875 * (100vw - 20rem) / 59.375);
    }
}

@supports (margin-right: clamp( 3.75rem , 3.1184210526rem  +  3.1578947368vw , 5.625rem )) {
    .block-slider .swiper {
      margin-right: clamp( 3.75rem , 3.1184210526rem  +  3.1578947368vw , 5.625rem );
    }
}

@supports not (margin-right: clamp( 3.75rem , 3.1184210526rem  +  3.1578947368vw , 5.625rem )) {
    .block-slider .swiper {
      margin-right: calc(3.75rem + 1.875 * (100vw - 20rem) / 59.375);
    }
}

@supports (min-height: clamp( 6.125rem , 5.7460526316rem  +  1.8947368421vw , 7.25rem )) {
    .block-slider__img {
      min-height: clamp( 6.125rem , 5.7460526316rem  +  1.8947368421vw , 7.25rem );
    }
}

@supports not (min-height: clamp( 6.125rem , 5.7460526316rem  +  1.8947368421vw , 7.25rem )) {
    .block-slider__img {
      min-height: calc(6.125rem + 1.125 * (100vw - 20rem) / 59.375);
    }
}

@supports (width: clamp( 3.125rem , 2.8302631579rem  +  1.4736842105vw , 4rem )) {
    .sm-btn {
      width: clamp( 3.125rem , 2.8302631579rem  +  1.4736842105vw , 4rem );
    }
}

@supports not (width: clamp( 3.125rem , 2.8302631579rem  +  1.4736842105vw , 4rem )) {
    .sm-btn {
      width: calc(3.125rem + 0.875 * (100vw - 20rem) / 59.375);
    }
}

@supports (height: clamp( 3.125rem , 2.8302631579rem  +  1.4736842105vw , 4rem )) {
    .sm-btn {
      height: clamp( 3.125rem , 2.8302631579rem  +  1.4736842105vw , 4rem );
    }
}

@supports not (height: clamp( 3.125rem , 2.8302631579rem  +  1.4736842105vw , 4rem )) {
    .sm-btn {
      height: calc(3.125rem + 0.875 * (100vw - 20rem) / 59.375);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0618421053rem  +  0.3157894737vw , 1.3125rem )) {
    .sm-btn {
      font-size: clamp( 1.125rem , 1.0618421053rem  +  0.3157894737vw , 1.3125rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0618421053rem  +  0.3157894737vw , 1.3125rem )) {
    .sm-btn {
      font-size: calc(1.125rem + 0.1875 * (100vw - 20rem) / 59.375);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.0328947368rem  +  4.2105263158vw , 4.375rem )) {
    .text-block {
      padding-top: clamp( 1.875rem , 1.0328947368rem  +  4.2105263158vw , 4.375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.0328947368rem  +  4.2105263158vw , 4.375rem )) {
    .text-block {
      padding-top: calc(1.875rem + 2.5 * (100vw - 20rem) / 59.375);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 5rem )) {
    .text-block {
      padding-bottom: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 5rem )) {
    .text-block {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 59.375);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.2467105263rem  +  1.5789473684vw , 2.5rem )) {
    .text-block__body {
      padding-bottom: clamp( 1.5625rem , 1.2467105263rem  +  1.5789473684vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.2467105263rem  +  1.5789473684vw , 2.5rem )) {
    .text-block__body {
      padding-bottom: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 59.375);
    }
}
}

@media (min-width: 62em) and (max-width: 77.5em) {
@supports (font-size: clamp( 1.25rem , 0.0000000625rem  +  2.0161290323vw , 1.5625rem )) {
    .header-body__logo span {
      font-size: clamp( 1.25rem , 0.0000000625rem  +  2.0161290323vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.0000000625rem  +  2.0161290323vw , 1.5625rem )) {
    .header-body__logo span {
      font-size: calc(1.25rem + 0.3125 * (100vw - 62rem) / 15.5);
    }
}

@supports (gap: clamp( 1.25rem , -6.75rem  +  12.9032258065vw , 3.25rem )) {
    .moby-body__list {
      gap: clamp( 1.25rem , -6.75rem  +  12.9032258065vw , 3.25rem );
    }
}

@supports not (gap: clamp( 1.25rem , -6.75rem  +  12.9032258065vw , 3.25rem )) {
    .moby-body__list {
      gap: calc(1.25rem + 2 * (100vw - 62rem) / 15.5);
    }
}
}

@media (min-width: 20em) and (max-width: 48em) {
@supports (top: clamp( 1.25rem , 7.1428571429rem  +  -12.2767857143vw , 4.6875rem )) {
    .phones-header__items {
      top: clamp( 1.25rem , 7.1428571429rem  +  -12.2767857143vw , 4.6875rem );
    }
}

@supports not (top: clamp( 1.25rem , 7.1428571429rem  +  -12.2767857143vw , 4.6875rem )) {
    .phones-header__items {
      top: calc(4.6875rem + -3.4375 * (100vw - 20rem) / 28);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 48em) {
  .phones-header__items {
    left: 16.875rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 48em) {
@supports (left: clamp( -1.875rem , -15.2678571429rem  +  66.9642857143vw , 16.875rem )) {
    .phones-header__items {
      left: clamp( -1.875rem , -15.2678571429rem  +  66.9642857143vw , 16.875rem );
    }
}

@supports not (left: clamp( -1.875rem , -15.2678571429rem  +  66.9642857143vw , 16.875rem )) {
    .phones-header__items {
      left: calc(-1.875rem + 18.75 * (100vw - 20rem) / 28);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 47.9375em) {
  .menu-block__items {
    width: 45.9375rem;
  }

  .main-block__button {
    height: 4.1875rem;
  }

  .main-block__button {
    width: 7.8125rem;
  }

  .main-block__button {
    font-size: 1.25rem;
  }

  .main-block__input {
    height: 4.1875rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.9375em) {
@supports (width: clamp( 18.4375rem , -1.2493008949rem  +  98.4340044743vw , 45.9375rem )) {
    .menu-block__items {
      width: clamp( 18.4375rem , -1.2493008949rem  +  98.4340044743vw , 45.9375rem );
    }
}

@supports not (width: clamp( 18.4375rem , -1.2493008949rem  +  98.4340044743vw , 45.9375rem )) {
    .menu-block__items {
      width: calc(18.4375rem + 27.5 * (100vw - 20rem) / 27.9375);
    }
}

@supports (height: clamp( 3.125rem , 2.3643736018rem  +  3.8031319911vw , 4.1875rem )) {
    .main-block__button {
      height: clamp( 3.125rem , 2.3643736018rem  +  3.8031319911vw , 4.1875rem );
    }
}

@supports not (height: clamp( 3.125rem , 2.3643736018rem  +  3.8031319911vw , 4.1875rem )) {
    .main-block__button {
      height: calc(3.125rem + 1.0625 * (100vw - 20rem) / 27.9375);
    }
}

@supports (width: clamp( 5rem , 2.9865771812rem  +  10.067114094vw , 7.8125rem )) {
    .main-block__button {
      width: clamp( 5rem , 2.9865771812rem  +  10.067114094vw , 7.8125rem );
    }
}

@supports not (width: clamp( 5rem , 2.9865771812rem  +  10.067114094vw , 7.8125rem )) {
    .main-block__button {
      width: calc(5rem + 2.8125 * (100vw - 20rem) / 27.9375);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.7137863535rem  +  1.1185682327vw , 1.25rem )) {
    .main-block__button {
      font-size: clamp( 0.9375rem , 0.7137863535rem  +  1.1185682327vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.7137863535rem  +  1.1185682327vw , 1.25rem )) {
    .main-block__button {
      font-size: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 27.9375);
    }
}

@supports (height: clamp( 3.125rem , 2.3643736018rem  +  3.8031319911vw , 4.1875rem )) {
    .main-block__input {
      height: clamp( 3.125rem , 2.3643736018rem  +  3.8031319911vw , 4.1875rem );
    }
}

@supports not (height: clamp( 3.125rem , 2.3643736018rem  +  3.8031319911vw , 4.1875rem )) {
    .main-block__input {
      height: calc(3.125rem + 1.0625 * (100vw - 20rem) / 27.9375);
    }
}
}

@media (min-width: 47.9375em) and (max-width: 77.5em) {
@supports (font-size: clamp( 0.75rem , 0.5473044397rem  +  0.422832981vw , 0.875rem )) {
    .item-footer__link {
      font-size: clamp( 0.75rem , 0.5473044397rem  +  0.422832981vw , 0.875rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.5473044397rem  +  0.422832981vw , 0.875rem )) {
    .item-footer__link {
      font-size: calc(0.75rem + 0.125 * (100vw - 47.9375rem) / 29.5625);
    }
}
}

@media (min-width: 48em) and (max-width: 77.5em) {
@supports (gap: clamp( 0.9375rem , 0.0222457627rem  +  1.906779661vw , 1.5rem )) {
    .main-block__body {
      gap: clamp( 0.9375rem , 0.0222457627rem  +  1.906779661vw , 1.5rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.0222457627rem  +  1.906779661vw , 1.5rem )) {
    .main-block__body {
      gap: calc(0.9375rem + 0.5625 * (100vw - 48rem) / 29.5);
    }
}

@supports (padding: clamp( 1.25rem , 0.843220339rem  +  0.8474576271vw , 1.5rem )) {
    .main-block__menu {
      padding: clamp( 1.25rem , 0.843220339rem  +  0.8474576271vw , 1.5rem );
    }
}

@supports not (padding: clamp( 1.25rem , 0.843220339rem  +  0.8474576271vw , 1.5rem )) {
    .main-block__menu {
      padding: calc(1.25rem + 0.25 * (100vw - 48rem) / 29.5);
    }
}

@supports (left: clamp( 3.75rem , 2.7330508475rem  +  2.1186440678vw , 4.375rem )) {
    .slide-product-images__content {
      left: clamp( 3.75rem , 2.7330508475rem  +  2.1186440678vw , 4.375rem );
    }
}

@supports not (left: clamp( 3.75rem , 2.7330508475rem  +  2.1186440678vw , 4.375rem )) {
    .slide-product-images__content {
      left: calc(3.75rem + 0.625 * (100vw - 48rem) / 29.5);
    }
}

@supports (font-size: clamp( 1.5625rem , 0.6472457627rem  +  1.906779661vw , 2.125rem )) {
    .slide-product-images__title {
      font-size: clamp( 1.5625rem , 0.6472457627rem  +  1.906779661vw , 2.125rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 0.6472457627rem  +  1.906779661vw , 2.125rem )) {
    .slide-product-images__title {
      font-size: calc(1.5625rem + 0.5625 * (100vw - 48rem) / 29.5);
    }
}

@supports (letter-spacing: clamp( 0.125rem , -0.688559322rem  +  1.6949152542vw , 0.625rem )) {
    .slide-product-images__title {
      letter-spacing: clamp( 0.125rem , -0.688559322rem  +  1.6949152542vw , 0.625rem );
    }
}

@supports not (letter-spacing: clamp( 0.125rem , -0.688559322rem  +  1.6949152542vw , 0.625rem )) {
    .slide-product-images__title {
      letter-spacing: calc(0.125rem + 0.5 * (100vw - 48rem) / 29.5);
    }
}

@supports (padding-top: clamp( 0.9375rem , -0.4862288136rem  +  2.9661016949vw , 1.8125rem )) {
    .slide-product-images__title {
      padding-top: clamp( 0.9375rem , -0.4862288136rem  +  2.9661016949vw , 1.8125rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , -0.4862288136rem  +  2.9661016949vw , 1.8125rem )) {
    .slide-product-images__title {
      padding-top: calc(0.9375rem + 0.875 * (100vw - 48rem) / 29.5);
    }
}

@supports (padding-right: clamp( 1.25rem , -1.0889830508rem  +  4.8728813559vw , 2.6875rem )) {
    .slide-product-images__title {
      padding-right: clamp( 1.25rem , -1.0889830508rem  +  4.8728813559vw , 2.6875rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , -1.0889830508rem  +  4.8728813559vw , 2.6875rem )) {
    .slide-product-images__title {
      padding-right: calc(1.25rem + 1.4375 * (100vw - 48rem) / 29.5);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , -0.4862288136rem  +  2.9661016949vw , 1.8125rem )) {
    .slide-product-images__title {
      padding-bottom: clamp( 0.9375rem , -0.4862288136rem  +  2.9661016949vw , 1.8125rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , -0.4862288136rem  +  2.9661016949vw , 1.8125rem )) {
    .slide-product-images__title {
      padding-bottom: calc(0.9375rem + 0.875 * (100vw - 48rem) / 29.5);
    }
}

@supports (padding-left: clamp( 1.25rem , -1.0889830508rem  +  4.8728813559vw , 2.6875rem )) {
    .slide-product-images__title {
      padding-left: clamp( 1.25rem , -1.0889830508rem  +  4.8728813559vw , 2.6875rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , -1.0889830508rem  +  4.8728813559vw , 2.6875rem )) {
    .slide-product-images__title {
      padding-left: calc(1.25rem + 1.4375 * (100vw - 48rem) / 29.5);
    }
}

@supports (padding-top: clamp( 0.5rem , -0.313559322rem  +  1.6949152542vw , 1rem )) {
    .slide-product-images__sub-title {
      padding-top: clamp( 0.5rem , -0.313559322rem  +  1.6949152542vw , 1rem );
    }
}

@supports not (padding-top: clamp( 0.5rem , -0.313559322rem  +  1.6949152542vw , 1rem )) {
    .slide-product-images__sub-title {
      padding-top: calc(0.5rem + 0.5 * (100vw - 48rem) / 29.5);
    }
}

@supports (padding-right: clamp( 1.125rem , 0.1080508475rem  +  2.1186440678vw , 1.75rem )) {
    .slide-product-images__sub-title {
      padding-right: clamp( 1.125rem , 0.1080508475rem  +  2.1186440678vw , 1.75rem );
    }
}

@supports not (padding-right: clamp( 1.125rem , 0.1080508475rem  +  2.1186440678vw , 1.75rem )) {
    .slide-product-images__sub-title {
      padding-right: calc(1.125rem + 0.625 * (100vw - 48rem) / 29.5);
    }
}

@supports (padding-bottom: clamp( 0.5rem , -0.313559322rem  +  1.6949152542vw , 1rem )) {
    .slide-product-images__sub-title {
      padding-bottom: clamp( 0.5rem , -0.313559322rem  +  1.6949152542vw , 1rem );
    }
}

@supports not (padding-bottom: clamp( 0.5rem , -0.313559322rem  +  1.6949152542vw , 1rem )) {
    .slide-product-images__sub-title {
      padding-bottom: calc(0.5rem + 0.5 * (100vw - 48rem) / 29.5);
    }
}

@supports (padding-left: clamp( 1.125rem , 0.9216101695rem  +  0.4237288136vw , 1.25rem )) {
    .slide-product-images__sub-title {
      padding-left: clamp( 1.125rem , 0.9216101695rem  +  0.4237288136vw , 1.25rem );
    }
}

@supports not (padding-left: clamp( 1.125rem , 0.9216101695rem  +  0.4237288136vw , 1.25rem )) {
    .slide-product-images__sub-title {
      padding-left: calc(1.125rem + 0.125 * (100vw - 48rem) / 29.5);
    }
}
}

@media (any-hover: hover) {
  .menu-top-header__link:hover {
    text-decoration: underline;
  }

  .item-footer__link:hover {
    text-decoration: underline;
  }

  .menu-main-block__link:hover {
    text-decoration: underline;
  }

  .remont-block__text:hover {
    text-decoration: underline;
  }
}